.uplaod-container {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container {
  width: 450px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  align-items: center;

  .bg {
    width: 0%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: orange;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
  }

  .uploading {
    transform: translate(50%,50px);
  }
  
  .upload {
    border: none;
    width: 100px;
    margin-right: 1%;
    height: 80%;
    border-radius: 10px;
    background-color: orange;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
    
  .loader {
    width: 0%;
    display: none;
    border-radius: 10px;
    height: 8%;
    position: absolute;
    bottom: 0;
    background: black;
    text-align: center;

    .completed {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      display: none;
      background: #000;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      visibility: hidden;
    }
  }
  
  .file-name{
    margin: 0 1%;
  }
}
