body {
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  background: rgb(47, 46, 49);
}
.main-container form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouncy-container {
  width: 450px;
  height: 76px;
  position: relative;
}
.bouncy-container .bouncy-email-input {
  width: 76px;
  height: 76px;
  border: none;
  border-radius: 50%;
  outline: none;
  display: none;
  position: absolute;
  z-index: 3;
  right: 0;
  background: rgba(20, 20, 20, 0.884);
  color: grey;
  font-size: 20px;
}
.bouncy-container .bouncy-email-input:-webkit-autofill, .bouncy-container .bouncy-email-input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.bouncy-container button {
  height: 76px;
  padding: 0 50px;
  border: none;
  border-radius: 38px;
  outline: 0;
  display: flex;
  position: absolute;
  z-index: 4;
  right: 50%;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transform: translateX(50%);
  white-space: nowrap;
}
.bouncy-container button:hover {
  cursor: default;
}
.bouncy-container button.promo-button:hover {
  cursor: pointer;
}
.bouncy-container button.email-submit-button:hover {
  cursor: pointer;
}
.bouncy-container button::before {
  content: "\f0e0";
  display: none;
  color: #fff;
  font-family: "Font Awesome 6 Free";
  font-size: 20px;
  font-weight: 900;
}
