.bouncy {
  background: #3c3b3c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #f75c8c;
  color: #fff;
  border: none;
  outline: none;
}

.promo {
  padding: 20px 30px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
}

.d-none {
  display: none;
}
