body {
  margin: 0;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

* { box-sizing: border-box; }
.main-container { height: 600px; }

.switch-interaction-div {
  width: 100%;
  height: 600px;
  display: flex;
  background: lightblue;
  align-items: center;
  justify-content: center;
  transition: background 0.4s;
}

.switch-interaction-div.off { background: lightcoral; }
.switch-interaction-div.on { background: lightgreen; }

.switch-interaction-div .switch {
  width: 150px;
  height: 80px;
  border-radius: 80px;
  margin-right: 30px;
  display: flex;
  background-color: red;
  align-items: center;
  transition: width 0.5s;
}

.switch-interaction-div .switch.neutral {
  width: 80px;
  background: grey;
}

.switch-interaction-div .switch.on {
  width: 150px;
  background: green;
  justify-content: end;
}

.switch-interaction-div .switch input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.switch-interaction-div .slider {
  width: 80px;
  height: 80px;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.switch-interaction-div .slider .fill {
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  z-index: 4;
}

.switch-interaction-div .slider.loading .fill {
  border: 6px solid;
  border-radius: 50%;
  border-color: blue grey grey grey;
  animation: loading 1.5s linear infinite;
  animation-fill-mode: forwards;
  transform: rotate(-45deg);
}

.switch-interaction-div .slider.loading .fill:nth-child(2) { animation-delay: -0.15s; }
.switch-interaction-div .slider.loading .fill:nth-child(3) { animation-delay: 0s; }

@keyframes loading {
  0% {
      transform: rotate(-45deg);
  }
  100% {
      transform: rotate(315deg);
  }
}

.switch-interaction-div .slider .cover-1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 5;
  transform: rotate(-45deg);
}

@keyframes cover1Animation {
  0% {
      border-color: grey transparent transparent transparent;
  }
  59% {
      border-color: grey transparent transparent transparent;
  }
  60% {
      border-color: transparent;
      z-index: 3;
  }
  100% {
      border-color: transparent;
      z-index: 3;
  }
}

.switch-interaction-div .slider.reverse-loading .fill {
  border: 6px solid;
  border-radius: 50%;
  border-color: blue grey grey grey;
  animation: anti-clockwise-loading 1.5s linear infinite;
  animation-fill-mode: forwards;
  transform: rotate(45deg);
}

.switch-interaction-div .slider.reverse-loading .fill:nth-child(1) { animation-delay: -0.15s; }
.switch-interaction-div .slider.reverse-loading .fill:nth-child(2) { animation-delay: 0s; }

@keyframes anti-clockwise-loading {
  0% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(-315deg);
  }
}

.switch-interaction-div .slider.reverse-loading .cover-2 {
  width: 80px;
  height: 80px;
  border: 6px solid;
  border-radius: 50%;
  border-color: grey transparent transparent transparent;
  display: block;
  position: absolute;
  z-index: 5;
  transform: rotate(45deg);
  animation: cover1Animation 0.5s;
  animation-fill-mode: forwards;
}

.switch-interaction-div .slider .circle {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 6px;
  left: 6px;
  background: white;
}

.switch-interaction-div .message { 
  width: 170px;
  display: block;
  color: #222;
  font-size: 24px;
  text-transform: capitalize;
}