body {
  background: #f4f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container ul {
  display: flex;
  position: relative;
  height: 250px;
}
.container ul li {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  color: transparent;
}
.container ul li .svg-container {
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: #2535dc;
  border-radius: 50%;
}
.container ul li svg {
  vertical-align: super;
  opacity: 0;
  width: 24px;
  height: 24px;
  fill: #fff;
}
.container ul li span {
  opacity: 0;
  animation: showIcon 0.5s ease-in 1.75s 1 forwards;
}
.container button {
  order: 1;
  z-index: 1;
  position: relative;
  background: #2535dc;
  display: block;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  text-indent: -99999px;
}
.container button::before, .container button::after {
  content: "";
  float: right;
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0);
  -webkit-transform: translate(-50%, -50%) translateZ(0);
}
.container button::before {
  transform: translate(-50%, -50%) rotate(90deg) translateZ(0);
  -webkit-transform: translate(-50%, -50%) rotate(90deg) translateZ(0);
}
.container button:hover {
  animation: rotateButton 1s ease-in 0.5s 1 forwards;
}
.container button:hover ~ ul li:nth-child(1) {
  animation: movetoTop100 1s ease-in 0.5s 1 forwards;
}
.container button:hover ~ ul li:nth-child(1) svg {
  animation: showIcon 0.5s ease-in 1.5s 1 forwards;
}
.container button:hover ~ ul li:nth-child(2) {
  animation: movetoTop75 1s ease-in 0.75s 1 forwards;
}
.container button:hover ~ ul li:nth-child(2) svg {
  animation: showIcon 0.5s ease-in 1.5s 1 forwards;
}
.container button:hover ~ ul li:nth-child(3) {
  animation: movetoTop50 1s ease-in 1s 1 forwards;
}
.container button:hover ~ ul li:nth-child(3) svg {
  animation: showIcon 0.5s ease-in 1.5s 1 forwards;
}
.container button:hover ~ ul li:nth-child(4) {
  animation: movetoTop25 1s ease-in 1.25s 1 forwards;
}
.container button:hover ~ ul li:nth-child(4) svg {
  animation: showIcon 0.5s ease-in 1.5s 1 forwards;
}

@keyframes rotateButton {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(405deg);
  }
}
@keyframes movetoTop100 {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}
@keyframes movetoTop75 {
  from {
    bottom: 0;
  }
  to {
    bottom: 75%;
  }
}
@keyframes movetoTop50 {
  from {
    bottom: 0;
  }
  to {
    bottom: 50%;
  }
}
@keyframes movetoTop25 {
  from {
    bottom: 0;
  }
  to {
    bottom: 25%;
  }
}
@keyframes showIcon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showText {
  10% {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    z-index: -1;
    top: 50%;
    left: 100%;
    transform: translate(-65%, -50%);
  }
  50% {
    width: 150px;
    padding: 5px 0;
    height: 45px;
    border-radius: 36px;
    background: #000;
    top: 50%;
    left: 100%;
    transform: translate(-22%, -50%);
    z-index: -1;
  }
  100% {
    width: 282px;
    padding: 5px 0;
    height: 45px;
    border-radius: 36px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-22%, -50%);
    background: #000;
    z-index: -1;
  }
}
@keyframes moveLeft {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-234%, 100%);
  }
}
