.uplaod-container {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 450px;
  height: 70px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
}
.text-container .bg {
  width: 0%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: orange;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-container .uploading {
  height: 0;
  visibility: hidden;
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.text-container .upload {
  border: none;
  width: 100px;
  margin-right: 1%;
  height: 80%;
  border-radius: 10px;
  background-color: orange;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.text-container .loader {
  width: 0%;
  display: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 10%;
  position: absolute;
  bottom: 0;
  background: black;
  text-align: center;
}
.text-container .loader .completed {
  width: 100%;
  height: 100%;
  display: none;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  font-size: 20px;
  font-weight: 500;
}
.text-container .loader .completed .circ {
  opacity: 0;
  stroke-dasharray: 130;
  stroke-dashoffset: 130;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.text-container .loader .completed .tick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
  -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
  -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
  -o-transition: stroke-dashoffset 1s 0.5s ease-out;
  transition: stroke-dashoffset 1s 0.5s ease-out;
}
.text-container .loader .completed .drawn + svg {
  width: 40px;
  height: 40px;
}
.text-container .loader .completed .drawn + svg .path {
  opacity: 1;
  stroke-dashoffset: 0;
}
.text-container .loader .right-tik {
  width: 80px;
  height: 50px;
  visibility: hidden;
}
.text-container .file-name {
  margin: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-container .file-name .icon {
  margin: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  fill: currentColor;
}
